<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested path is not an existing file or directory, send it to the app front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [QSA,L]
</IfModule>
